{% extends 'predictapp/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Payment" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12">
        {% if user_payment.is_paid %}
            <p><b>{% blocktrans with expiry=user_payment.expiry_time|date:'Y-m-d H:i' %}Your account will be expired at {{ expiry }}{% endblocktrans %}</b></p>
        {% else %}
            <p><b>{% trans "Your account has no valid payment" %}</b></p>
        {% endif %}
        {% include 'checkout.html' %}
    </div>
</div>
{% endblock %}