{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Reports" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h4>研究报告</h4><br>
        <div class="col-sm-5"></div>
        <div class="col-sm-3 text-left">
            <!--<ul>-->
                <!--{% for report in reports %}-->
                <!--<li>-->
                    <!--{% with 'reports/'|add:report as reportPath %}-->
                    <!--<a href='{% static reportPath %}' target="_blank">{{ report }}</a>-->
                    <!--&lt;!&ndash;<a href='{% static reportPath %}' download={{ report }} target="_self">（pdf下载）</a>&ndash;&gt;-->
                    <!--{% endwith %}-->
                <!--</li>-->
                 <!--{% endfor %}-->
            <!--</ul>-->
             <ul>
                {% for key, value in reports.items %}
                <li>
                    {% with 'reports/'|add:key as reportPath %}
                        <a href='{% static reportPath %}' target="_blank">{{ value }}</a>
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br><br>
</div>
{% endblock %}