{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Reports" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h4>研究报告</h4><br>
        <div class="col-sm-5"></div>
        <div class="col-sm-3 text-left">
            <!--<ul>-->
                <!--{% for report in reports %}-->
                <!--<li>-->
                    <!--{% with 'reports/'|add:report as reportPath %}-->
                    <!--<a href='{% static reportPath %}' target="_blank">{{ report }}</a>-->
                    <!--&lt;!&ndash;<a href='{% static reportPath %}' download={{ report }} target="_self">（pdf下载）</a>&ndash;&gt;-->
                    <!--{% endwith %}-->
                <!--</li>-->
                 <!--{% endfor %}-->
            <!--</ul>-->
             <ul>
                {% for key, value in reports.items %}
                <li>
                    {% with 'reports/'|add:key as reportPath %}
                        <a href='{% static reportPath %}' target="_blank">{{ value }}</a>
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br><br>
    <div class="row">
        <h4>{%trans "Please consider making a donation to protect and sustain eShuJuPai" %}</h4>
        <div class="col-sm-3">
            <h5>{%trans "AliPay Donate" %}</h5>
            <img src="{% static 'alipay/alipay.png' %}" alt="支付宝" height="200" />
        </div>
        <div class="col-sm-2">
            <h5>{%trans "AliPay 1 CNY" %}</h5>
            <img src="{% static 'alipay/alipay-1.png' %}" alt="支付宝1元" height="200"/>
        </div>
        <div class="col-sm-2">
            <h5>{%trans "AliPay 5 CNY" %}</h5>
            <img src="{% static 'alipay/alipay-5.png' %}" alt="支付宝5元" height="200"/>
        </div>
        <div class="col-sm-2">
            <h5>{%trans "AliPay 10 CNY" %}</h5>
            <img src="{% static 'alipay/alipay-10.png' %}" alt="支付宝10元" height="200"/>
        </div>
         <div class="col-sm-3">
            <h5>{%trans "WeChat Donate " %}</h5>
            <img src="{% static 'wechat/wechat_reward.png' %}" alt="微信赞赏" height="200"/>
        </div>
    </div>
</div>
{% endblock %}