<div class="col-sm-1"></div>
<div class="col-sm-10 text-left">
    <p>
        <b>本网站信息仅供参考， 不承担实际交易后果。实际交易需您独立决策。如果您使用本网站，表明您同意</b>
        <a href="{% url 'terms_service' %}" target="_blank">服务协议</a>
        <!--<b>和</b>-->
        <!--<a href="{% url 'privacy_policy' %}" target="_blank">隐私协议</a>-->
        <b>。如您不同意，您必须停止使用本网站。</b>
    </p>
    <div class="well">
        <ul>
        <li>本系统基于1股进行分析。运用历史数据进行回测和预测。策略涵盖经典技术指标，统计分析，人工智能。</li>
        <li>本系统不适用于日内交易。在分析中，除非当日止盈位/止损位触发，一般仓位持有一天以上。</li>
        <li>分析基于如下情况：</li>
            <ul>
                <li>系统对历史数据进行分析，并且预测接下来一天的交易计划：买入/卖出/不操作，限价单，止盈位和止损位。</li>
                <li>如果预测信号为1, 如果当前仓位为做多，继续持有，如果当前仓位为做空，平仓并且做多，如果当前没有仓位，做多。</li>
                <li>如果预测信号为-1, 如果当前仓位为做空，继续持有，如果当前仓位为做多，平仓并且做空，如果当前没有仓位，做空。</li>
                <li>在开盘前按照预测挂限价单，并设置止盈位和止损位。假设成交价没有滑点，并且不会对市场造成影响。</li>
            </ul>
        </ul>
    </div>
    <div class="well">
        <p><b>功能说明</b></p>
        <ul>
        <li>选择<a href="{% url 'upload' %}">回测&预测</a>，进入主界面输入回测参数: 代码（必选）， 每股押金（必选），历史数据（可选）。
            <ul>
            <li>如果没有上传历史数据，系统自动从数据源获取历史数据，默认利用52周的历史数据进行回测和预测。一般当天的交易数据在21:00后可以获得。
            本系统涵盖超过3500个中国股票数据，超过6万个美国股票，共同基金和ETF数据。</li>
            <li>如果上传了历史数据，系统利用上传的历史数据进行回测和预测。上传的文件为csv格式，必须包括如下信息：date, open, close, high, low, volume.
                date为日期，open为开盘价，close为收盘价，high为最高价，low为最低价，volume为成交量。列的顺序可以任意排列。
                <!--<a herf="file:///home/julia/trading_analysis/web/documents/AAPL_sample.csv">样本文件</a>-->
                <table>
                <tr>
                    <th>date</th>
                    <th>open</th>
                    <th>close</th>
                    <th>high</th>
                    <th>low</th>
                    <th>volume</th>
                </tr>
                <tr>
                    <td>2018-01-02</td>
                    <td>170.16</td>
                    <td>172.26</td>
                    <td>172.3</td>
                    <td>169.26</td>
                    <td>25048048</td>
                </tr>
                <tr>
                    <td>2018-01-03</td>
                    <td>172.53</td>
                    <td>172.23</td>
                    <td>174.55</td>
                    <td>171.96</td>
                    <td>28819653</td>
                </tr>
                </table>
            </li>
            </ul>
        </li>
        <li>回测和预测一般需要几分钟，根据历史数据量的多少而时间不同。
            <ul>
                <li>如果用户没有登录或者用户登录但是没有充值，显示回测收益后10的策略。</li>
                <li>如果用户登录而且充值，显示回测收益前20的策略，并且可以查看回测图形。</li>
            </ul>
        </li>
        <li>用户登录后，选择<a href="{% url 'payment' %}">充值</a>，进入充值界面。有如下方式进行充值：
            <ul>
            <li>用卡支付</li>
            <li>支付宝</li>
            <li>微信支付</li>
            </ul>
        </li>
        </ul>
    </div>
</div>
<div class="col-sm-1"></div>