<div class="col-sm-1"></div>
<div class="col-sm-10 text-left">
    <p><b>您对本站的访问是基于同意以下的使用条款与免责声明。如您不同意，请离开本站。</b></p>
    <div class="well">
        <p><b>使用条款</b></p>
        <ul>
            <li>本站力求数据的准确及完整，但不承诺，并且不保证所提供数据的准确与完整。</li>
            <li>本站提供的数据、软件均已经过验证，但由于计算机系统的复杂性，本站不承诺，并且不保证这些数据可在您的计算机中安装成功。
                不承诺，并且不保证这些数据不会对您的计算机原数据及系统产生破坏。</li>
            <li>自本站获取的数据及服务仅能用于自用，不得以任何形式传播自本站获取的数据及服务。</li>
        </ul>
    </div>
    <div class="well">
        <p><b>免责申明</b></p>
        <ul>
            <li>本站内所引用的相关图片、文章，如果不是本站原作，均已指出其来源或版权所有人。如有遗漏、疏忽，请给我们留言指出。</li>
            <li>如果不愿在本站中引用贵处的文章、图片或友情链接，请点此给我们留言。</li>
        </ul>
    </div>
</div>
<div class="col-sm-1"></div>